@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #app {
        min-height: 100vh;
    }

    h1 {
        @apply my-8 mx-auto text-5xl w-max font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
    }

    .main__form label {
        @apply flex flex-col mb-3;
    }

    .main__form input,
    .main__form textarea {
        @apply border border-slate-800 rounded-md p-2.5;
    }

    ::selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    ::-moz-selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    ::-webkit-selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    .tooltip {
        position: relative;
    }

    *[tooltip]:hover:after {
        content: attr(tooltip);
        font-size: 80%;
        @apply text-sky-500 border border-sky-500 rounded p-1 absolute bottom-5 left-0 w-max;
    }

    .main a {
        /* @apply text-sky-500 no-underline; */
    }

    /* Grid */
    .gridbg::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        pointer-events: none;
        z-index: 100;

        --grid-color: rgb(255 0 0 / 0.2);
        --grid-sides: 16px;
        --grid-gutter: 16px;
        --grid-columns: 4;
        --grid-column-width: calc((100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns));

        border: solid transparent;
        border-width: 0 calc(var(--grid-sides) - var(--grid-gutter) / 2);

        background-image: repeating-linear-gradient(to right,
                transparent 0,
                transparent calc(var(--grid-gutter) / 2),
                var(--grid-color) calc(var(--grid-gutter) / 2),
                var(--grid-color) calc(var(--grid-column-width) + var(--grid-gutter) / 2),
                transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2),
                transparent calc(var(--grid-column-width) + var(--grid-gutter)));

        background-repeat: no-repeat;
    }

    @media (min-width: 736px) {
        .gridbg::before {
            --grid-sides: 24px;
            --grid-columns: 8;
        }
    }

    @media (min-width: 1008px) {
        .gridbg::before {
            --grid-sides: 32px;
            --grid-columns: 12;
        }
    }

}