@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    #app {
        height: 100%;
    }

    .main-container {
        flex: 1 0 auto;
    }

    h1 {
        @apply my-8 mx-auto text-5xl w-max font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
    }

    .main__form label {
        @apply flex flex-col mb-3;
    }

    .main__form input,
    .main__form textarea {
        @apply border border-slate-800 rounded-md p-2.5;
    }

    ::selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    ::-moz-selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    ::-webkit-selection {
        @apply text-fuchsia-500 bg-purple-400/10;
    }

    .tooltip {
        position: relative;
    }

    *[tooltip]:hover:after {
        content: attr(tooltip);
        font-size: 80%;
        @apply text-sky-500 border border-sky-500 rounded p-1 absolute bottom-5 left-0 w-max;
    }

    .main a {
        @apply text-sky-500 no-underline;
    }

    .footer {
        flex-shrink: 0;
    }
}