@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    z-index: 2;
}

.header__top,
.header__bottom,
.footer {
    background-color: #1e293a;
}

nav {
    color: #48a65b;
}

@layer base {
    h1 {
        @apply my-8 mx-auto text-5xl w-max font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
    }

    p {
        @apply my-5;
    }


    .main__form label {
        @apply flex flex-col mb-3;
    }

    .main__form input,
    .main__form textarea {
        @apply border border-slate-800 rounded-md p-2.5;
    }

    textarea {
        width: 80%;
        height: 300px;
        background-color: #1f1f28;
        color: #48a65b;
        border: none;
        border: 1px solid rgba(70, 70, 70, 0.6);
        margin-top: 10px;
        padding: 10px;
    }

    ::selection {
        background: #1f1f28;
        color: #48a65b;
    }

    ::-moz-selection {
        background: #1f1f28;
        color: #48a65b;
    }

    ::-webkit-selection {
        background: #1f1f28;
        color: #48a65b;
    }

    .tooltip {
        position: relative;
    }

    *[tooltip]:hover:after {
        content: attr(tooltip);
        color: #48a65b;
        border: 1px solid #48a65b;
        border-radius: 3px;
        padding: 3px;
        font-size: 80%;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: max-content;
    }

    .main {
        color: #90a4ae;
    }

    .main a {
        text-decoration: none;
        color: #f48e70;
    }

}